/* media-Query 992 */

@media (max-width: 1200px) {
  .header-section .conatact-btn {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-section .nav-link {
    margin: 0;
  }

  .header-section .nav-link::after {
    transform: scaleX(100%);
    margin: 0px;
    height: 1px;
  }

  .offcanvas-body {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .hero-section .hero-caption h1 {
    font-size: 40px;
  }

  .our-medicals-section .medicals-images .image-box-2 {
    height: 100px;
    width: 100px;
  }

  .our-medicals-section .medicals-images .image-box-3 {
    height: 100px;
    width: 100px;
  }

  .cta-section .cta-content h2 {
    font-size: 30px;
  }
}
